## Mac files ##
.DS_Store

## Maven files ##
**/target
*.iml
dependency-reduced-pom.xml

## Java files ##
*.jar
*.class
Pruebas.java


## IDEA files ##
*.idea


## Log files ##
*.log

## Conf file ##
**/resources/conf.properties